<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Survey</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Results </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/add">Add <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
<div class="jumbotron">
  <h1 class="display-3">Add Record</h1>
</div>
<div class="container">

  <div class="form-group row">
    <label for="name" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="name">
    </div>
  </div>

  <div class="form-group row">
    <label for="age" class="col-xs-2 col-form-label">Age</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="age">
    </div>
  </div>

  <div class="form-group row">
    <label for="company" class="col-xs-2 col-form-label">Company</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="company">
    </div>
  </div>

  <div class="form-group row">
    <label for="occupation" class="col-xs-2 col-form-label">Occupation</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="occupation">
    </div>
  </div>

  <div class="form-group row">
    <label for="location" class="col-xs-2 col-form-label">Location</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="location">
    </div>
  </div>

  <div class="form-group row">
    <label for="discoveryCategory" class="col-xs-2 col-form-label">Discoery Category</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="discoveryCategory">
    </div>
  </div>

  <div class="form-group row">
    <label for="discoveryNotes" class="col-xs-2 col-form-label">Discovery Notes</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="discoveryNotes">
    </div>
  </div>

  <div class="form-group row">
    <label for="useCategory" class="col-xs-2 col-form-label">Use Category</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="useCategory">
    </div>
  </div>

  <div class="form-group row">
    <label for="useNotes" class="col-xs-2 col-form-label">Use Notes</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="useNotes">
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-xs-2 col-form-label">Email</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" id="email">
    </div>
  </div>

  <button class="btn btn-block btn-outline-success btn-lg">Submit</button>
</div>
<br>
<br>
</body>
</html>

<script>
    function dbInsert(data) {
        $.ajax({
            url: "/records",
            type: "POST",
            data: data
        }).done(function(res) {
            console.log("Successfully inserted");
            $('input').each(function() {
                $(this).val("");
            })
        })
    }

    $('button').bind({
        "click": function() {
            console.log("Button Clicked");
            var data = {
                "name": $("#name").val(),
                "age": $("#age").val(),
                "occupation": $("#occupation").val(),
                "company": $("#company").val(),
                "location": $("#location").val(),
                "discoveryCategory": $("#discoveryCategory").val(),
                "discoveryNotes": $("#discoveryNotes").val(),
                "useCategory": $("#useCategory").val(),
                "useNotes": $("#useNotes").val(),
                "email": $("#email").val()
            };
            console.log(data);
            dbInsert(data);
        }
    })
</script>
